.buttonLan {
    position: absolute;
    right: 59px;
    top: 25px;
}

.mainBG {
    position: absolute;
    top: 110px;
    left: 60px;
    background-color: #DEFAED;
    width: 1160px;
    height: 815px;
    box-shadow: 1px 1px #ACC2B8;
}

.mainLabel {
    position: absolute;
    top: 133.5px;
    color: #333333;
    font-weight: bold;
    font-size: 44px;
    left: 302px;
}

.backButton {
    position: absolute;
    top: 950px;
    left: 132px;
    width: 122px;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #A8A8A8;
    border-radius: 5px;
}

.buttonDiv1 {
    position: absolute;
    left: 142px;
    top: 256px;
    width: 281px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}


    // Infomation
    .information {
        width: 930px;
        height: 610px;
        background-color: #f8f0ef;
        position: absolute;
        top: 214px;
        right: 59px;
    }
    
    .information div {
        position: absolute;
        width: 240px;
    }
    
    .information label {
        opacity: 100%;
        color: #7d7d7d;
        //font-family
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    
    .information p {
        font-weight: bold; //Removed this. replace with real font-face
        opacity: 1;
        color: #2A948F;
        font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
        font-size: 26px;
        line-height: 31px;
    }
    
    .information p.chineseName {
        font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
        line-height: 37px;
    }
    
    .information .col1 {
        left: 91px;
    }
    
    .information .col2 {
        left: 348px;
    }
    
    .information .col3 {
        left: 645px;
    }
    
    .information .row1 {
        top: 50px;
    }
    
    .information .row2 {
        top: 80px;
        margin-top: 74px;
    }

    .information .row3 {
        top: 180px;
        margin-top: 74px;
    }
    
    .information .row4 {
        // top: 303px;
        top: 290px;
        // margin-top: 88px;
        margin-top: 74px;
    }
    
    .information .row5 {
        top: 430px;
        margin-top: 67.5px;
    }
    
    .information .registration {
        margin-top: 61px !important;
    }
    
    .information .image {
        position: absolute;
        height: 300px;
        width: 200px;
        left: 89px;
        bottom: 40px;
        background-color: #ffffff;
    }
    
    .information .imgPlaceholder {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    // Information