<div class="mainPanel">
    
    <div class="mainBG"></div>
    <label class="mainLabel"> View IC. </label>
    <div class="information">
            <div class="row1 col1">
                <label>{{'SCN-SRK-008-1.NAME-IN-CHINESE' | translate}}</label>
                <p>{{chinese_name}}</p>
            </div>
            <div class="row1 col2">
                <label>{{'SCN-SRK-008-1.NAME-IN-ENGLISH' | translate}}</label>
                <p>{{english_name}}</p>
            </div>
            <div class="row1 col3">
                <label>{{'SCN-SRK-008-1.ID-CARD-NO' | translate}}</label>
                <p>{{icno}}</p>
            </div>
            <div class="row2 col1">
                <!-- <label>{{'SCN-SCK-008-1.NAME-IN-CCC' | translate}}</label>
                <p>{{nameCcc}}</p> -->
            </div>
            <div class="row2 col2">
                <label>{{'SCN-SRK-008-1.NAME-IN-CCC' | translate}}</label>
                <p>{{nameCcc}}</p>
            </div>
            <div class="row2 col3">
                <label>{{'State' | translate}}</label>
                <p>{{state}}</p>
            </div>
            
        </div>
</div>