<div class="mainPanel">
    <img class="buttonLan" src="../../../assets/images/button_lan_tc .png"/>
    <!-- <img class="mainBG" src="../../../assets/images/bg_1160x640.png"/> -->
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG"></div>
    <label  class="mainLabel"> Print Service / 打印服务. </label>
    <input type="image" class="firstLeft firstTop" (click)="printTxt()"src="../../../assets/images/button_6.png">
    <div class="buttonDiv1">
        <label (click)="printTxt()" class="label1"> print text / 打印文本 </label>
    </div>
    <input type="image" class="secondLeft firstTop" (click)="printBarcode()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv2">
        <label (click)="printBarcode()" class="label1"> Print Barcode / 打印一维条码 </label>
    </div>
    <input type="image" class="thirdLeft firstTop" (click)="printBmp()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv3">
        <label (click)="printBmp()" class="label1">Print bmp / 打印二维条码</label>
    </div>
    <input type="image" class="firstLeft secondTop" (click)="printVspace()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv4">
        <label (click)="printVspace()" class="label1"> Print Vspace / 垂直方向走纸 </label>
    </div>
    <input type="image" class="secondLeft secondTop" (click)="printBmp()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv5">
        <label (click)="printCutpaper()" class="label1">Print Cutpaper / 打印切纸</label>
    </div>
    <input type="image" class="thirdLeft secondTop" (click)="printDemo()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv6">
        <label (click)="printDemo()" class="label1">Print Demo / Demo打印</label>
    </div>
    <input class="backButton" class="btnClass" type="button" value="《返回" (click) = "previousRoute()">
</div>