<div class="mainPanel">
    <input class="buttonLan"  type="button" value="{{'SCN-GEN-SLIPPRINT.LANGUAGE' | translate}}" (click) = "langButton()"/>
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG"></div>
    <label  class="mainLabel">  {{'SCN-GEN-SLIPPRINT.PRINT-SERVICE' | translate}} </label>
    <input type="image" class="firstLeft firstTop" (click)="printTxtDemo()"src="../../../assets/images/button_6.png">
    <div class="buttonDiv1">
        <label (click)="printTxtDemo()" class="label1"> {{'SCN-GEN-SLIPPRINT.PRINT-TEXT' | translate}} </label>
    </div>
    <input type="image" class="secondLeft firstTop" (click)="printBarcode()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv2">
        <label (click)="printBarcode()" class="label1">  {{'SCN-GEN-SLIPPRINT.PRINT-BARCODE' | translate}} </label>
    </div>
    <input type="image" class="thirdLeft firstTop" (click)="printBmp()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv3">
        <label (click)="printBmp()" class="label1"> {{'SCN-GEN-SLIPPRINT.PRINT-BMP' | translate}}</label>
    </div>
    <input type="image" class="firstLeft secondTop" (click)="printVspace()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv4">
        <label (click)="printVspace()" class="label1">  {{'SCN-GEN-SLIPPRINT.PRINT-VSPACE' | translate}} </label>
    </div>
    <input type="image" class="secondLeft secondTop" (click)="printCutpaper()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv5">
        <label (click)="printCutpaper()" class="label1"> {{'SCN-GEN-SLIPPRINT.PRINT-CUTPAPER' | translate}}</label>
    </div>
    <input type="image" class="thirdLeft secondTop" (click)="printDemo()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv6">
        <label (click)="printDemo()" class="label1"> {{'SCN-GEN-SLIPPRINT.PRINT-DEMO' | translate}}</label>
    </div>
    <input class="backButton" class="btnClass" type="button" value="《{{'SCN-GEN-SLIPPRINT.RETURN' | translate}}" (click) = "previousRoute()">
</div>