<div class="mainPanel">
    <img class="buttonLan" src="../../../../assets/images/button_lan_tc .png"/>
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG">
        <div class="contentDiv">
            <table width="100%" style="margin: 0px;padding: 0px">
                <tr>
                    <td colspan="2" style="height: 100px;vertical-align: middle">
                        <label class="mainLabel"> Slipprint Text / 打印文本格式. </label>
                    </td>
                </tr>
                <tr>
                    <td class="firstCol" height="400px" style="vertical-align: middle">打印内容：</td>
                    <td class="contentCol">
                        <textarea rows="6" id="printContent" style="width: 500px;" name="printContent">{{printContent}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="firstCol">
                        打印高度：
                    </td>
                    <td class="contentCol">
                        <input type="number" id="printHeight" name="printHeight" value="{{printHeight}}" style="text-align: right; width: 500px;height: 40px">像素
                    </td>

                </tr>
                <tr>
                    <td class="firstCol">
                        左边距：
                    </td>
                    <td class="contentCol">
                        <input type="number" id="printLeftMargin" name="printLeftMargin" value="{{printLeftMargin}}" style="text-align: right;width: 500px;height: 40px" >像素
                    </td>

                </tr>
                <tr>
                    <td class="firstCol">
                        属性设置：
                    </td>
                    <td class="contentCol">
                        <select id="printAttribute" name="printAttribute" style="width: 500px;height: 40px">
                            <option value="normal">正常打印</option>
                            <option value="small">打印字体为小号字体</option>
                            <option value="bold">打印字体加粗</option>
                            <option value="double_height">加倍高打印</option>
                            <option value="double_width">加倍宽打印</option>
                            <option value="underline">加下划线</option>
                            <option value="reverse">反白模式，文字白色背景黑色</option>

                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2" style="padding:10px;">
                        <input type="button" class="btnClass"  value="《返回" (click) = "previousRoute()">
                        <input type="button" id="printBtn"  class="btnClass"  value="打印" (click) = "startPrint()">
                    </td>
                </tr>
            </table>
        </div>
    </div>





    <label class="footerFirst">Txt</label>
</div>