.buttonLan {
    position: absolute;
    right: 59px;
    top: 25px;
}

.mainBG {
    position: absolute;
    top: 190px;
    left: 60px;
}

.mainLabel {
    position: absolute;
    top: 243.5px;
    color: #333333;
    font-weight: bold;
    font-size: 44px;
    left: 372px;
}

.imgButton1 {
    position: absolute;
    top: 341.5px;
    left: 132px;
}

.imgButton2 {
    position: absolute;
    top: 341.5px;
    left: 489px;
}

.imgButton3 {
    position: absolute;
    top: 341.5px;
    left: 847px;
}

.imgButton4 {
    position: absolute;
    top: 587.5px;
    left: 132px;
}

.imgButton5 {
    position: absolute;
    top: 587.5px;
    left: 489px;
}

.imgButton6 {
    position: absolute;
    top: 587.5px;
    left: 847px;
}

.backButton {
    position: absolute;
    top: 885px;
    left: 60px;
}


.buttonDiv1 {
    position: absolute;
    left: 142px;
    top: 371px;
    width: 281px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.buttonDiv2 {
    position: absolute;
    left: 497px;
    top: 381px;
    width: 291px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.buttonDiv3 {
    position: absolute;
    left: 852px;
    top: 401px;
    width: 291px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}


.buttonDiv4 {
    position: absolute;
    left: 142px;
    top: 611px;
    width: 281px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.buttonDiv5 {
    position: absolute;
    left: 497px;
    top: 631px;
    width: 291px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.buttonDiv6 {
    position: absolute;
    left: 852px;
    top: 651px;
    width: 291px;
    font-size: 26px;
    color: white;
    line-height: 30px;
    text-align: center;
}
