// two
.viewBtnImage2 {
  margin-left:200px;
  margin-right:204px;
  background-image: url(../../../assets/images/home/icon_view_chip.png);
  width: 180px;
  height: 180px;
}

.updateBtnImage2 {
  margin-left:200px;
  margin-right:204px;
  background-image: url(../../../assets/images/home/icon_update_chip.png);
  width: 180px;
  height: 180px;
}
.viewPersonDataInChipBtn {
  margin-top: 130px;
  margin-left: 50px;
  padding-top: 66px;
  background-image: url(../../../assets/images/home/image_button.png);
  width: 584px;
  height: 474px;
  float: left;
  text-align: center;
}

.updateCosLosInChipBtn {
  margin-top: 130px;
  padding-top: 66px;
  background-image: url(../../../assets/images/home/image_button.png);
  float: left;
  margin-left: 16px;
  margin-right: 46px;
  width: 584px;
  height: 474px;
}

.textButtonChineseLeft {
  color: #FFFFFF;
  width: 100%;
  font-face: 'MicrosoftJhengHeiRegular';
  font-size: 30px;
  line-height: 40px;
  max-width: 460px;
  text-align: center;
  margin-left: 60px;
}

.textButtonChineseRight {
  color: #FFFFFF;
  width: 100%;
  font-face: 'MicrosoftJhengHeiRegular';
  font-size: 30px;
  line-height: 40px;
  max-width: 400px;
  text-align: center;
  margin-left: 90px;
}

.textButtonEnglishLeft {
  color: #FFFFFF;
  width: 100%;
  font-face: 'Arial-Regular';
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  max-width: 330px;
  margin-left: 125px;
  margin-top: 10px;
}

.textButtonEnglishRight {
  color: #FFFFFF;
  width: 100%;
  font-face: 'Arial-Regular';
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  max-width: 450px;
  margin-left: 60px;
  margin-top: 10px;
}

// three
.contentMenuBtn {
  float: left;
  margin-left: 60px;
  margin-top:25px;
  padding-top: 10px;
  background-image: url(../../../assets/images/home_new/image_button_horizontal.png);
  width: 1164px;
  height: 222px;
  text-align: left;
}

.viewBtnImage3 {
  float: left;
  margin-left:50px;
  margin-top:38px;
  width: 125px;
  height: 125px;
  background-image: url(../../../assets/images/home_new/icon_view_chip_2.png);
}

.updateBtnImage3 {
  float: left;
  margin-left:50px;
  margin-top:38px;
  width: 125px;
  height: 125px;
  background-image: url(../../../assets/images/home_new/icon_update_chip_2.png);
}

.otherAppBtnImage3 {
  float: left;
  margin-left:50px;
  margin-top:38px;
  width: 125px;
  height: 125px;
  background-image: url(../../../assets/images/home_new/icon_macao.png);
}


.textButtonChinese3 {
  float: left;
  color: #FFFFFF;
  width: 850px;
  height: 100px;
  //font-face: 'MicrosoftJhengHeiRegular';
  font-size: 30px;
  line-height: 40px;
  //max-width: 600px;
  text-align: left;
  margin: 0px;
  padding-top: 50px;
  padding-left: 30px;
}

.textButtonEnglish3 {
  float: left;
  color: #FFFFFF;
  width: 850px;
  height: 100px;
  font-face: 'Arial-Regular';
  text-align: left;
  font-size: 27px;
  line-height: 38px;
  margin-left: 125px;
  // max-width: 765px;
  margin: 0px;
  padding-top: 10px;
  padding-left: 30px;
}

