<div class="mainPanel">
    <img class="buttonLan" src="../../../assets/images/button_lan_tc .png"/>
    <!-- <img class="mainBG" src="../../../assets/images/bg_1160x640.png"/> -->
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG"></div>
    <label  class="mainLabel"> Please select the service. </label>
    <input type="image" class="firstLeft firstTop" (click)="startFingerprintScan()"src="../../../assets/images/button_6.png">
    <div class="buttonDiv1">
        <label (click)="startFingerprintScan()" class="label1"> Start FingerPrint/ 开始指纹扫描</label>
    </div>
    <input type="image" class="secondLeft firstTop" (click)="stopFingerprintScan()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv2">
        <label (click)="stopFingerprintScan()"> Stop FingerPrint/ 停止指纹扫描 </label>
    </div>
    <label (click)="previousRoute()" class="footerFirst">SCN-GEN-fingerprint</label>
</div>