<div class="mainPanel">
    <img class="buttonLan" src="../../../assets/images/button_lan_tc .png"/>
    <input class="buttonLan"  type="button" value="{{'SCN-GEN-SLIPPRINT.LANGUAGE' | translate}}" (click) = "langButton()"/>
    <!-- <img class="mainBG" src="../../../assets/images/bg_1160x640.png"/> -->
    <sc2-timer class="timer"></sc2-timer>
    <sc2-confirm #fingerprintCode>
        <div class="app-modal-body">
            <div class="modal-message" style="word-break:break-all;">
            <p style="word-break;:break-all;">
                {{fingerprintInfo}}
            </p>
            </div>
        </div>
    </sc2-confirm>
    <div class="mainBG"></div>
    <label  class="mainLabel"> {{'SCN-GEN-FINGERPRINT-SCAN.FINGERPRINT-SCAN-SERVICE' | translate}}</label>
    <input type="image" class="firstLeft firstTop" (click)="startFingerprintScan()"src="../../../assets/images/button_6.png">
    <div class="buttonDiv1">
        <label (click)="startFingerprintScan()" class="label1"> {{'SCN-GEN-FINGERPRINT-SCAN.START-FINGERPRINT-SCAN' | translate}}</label>
    </div>
    <input type="image" class="secondLeft firstTop" (click)="stopFingerprintScan()" src="../../../assets/images/button_6.png"/>
    <div class="buttonDiv2">
        <label (click)="stopFingerprintScan()"> {{'SCN-GEN-FINGERPRINT-SCAN.STOP-FINGERPRINT-SCAN' | translate}}</label>
    </div>
    <input class="backButton" class="btnClass" type="button" value="《{{'SCN-GEN-FINGERPRINT-SCAN.RETURN' | translate}}" (click) = "previousRoute()">
</div>