<div class="mainPanel">
    <img class="buttonLan" src="../../../../assets/images/button_lan_tc .png"/>
    <!-- <img class="mainBG" src="../../../assets/images/bg_1160x640.png"/> -->
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG">
        <div class="contentDiv">
            <table width="100%" style="margin: 0px;padding: 0px">
                <tr>
                    <td colspan="2" style="height: 100px;vertical-align: middle">
                        <label class="mainLabel"> Slipprint Barcode / 打印一维码. </label>
                    </td>
                </tr>
                <tr>
                    <td class="firstCol" height="400px" style="vertical-align: middle">打印一维码数：</td>
                    <td class="contentCol">
                        <input type="number" id="printContent" name="printContent" value="{{printContent}}" style=" text-align: right;width: 500px;height: 40px">
                    </td>
                </tr>
                <tr>
                    <td class="firstCol">
                        打印高度：
                    </td>
                    <td class="contentCol">
                        <input type="number" id="printHeight" name="printHeight" value="{{printHeight}}" style=" text-align: right;width: 500px;height: 40px">
                    </td>

                </tr>
                <tr>
                    <td class="firstCol">
                        左边距：
                    </td>
                    <td class="contentCol">
                        <input type="number" id="printLeftMargin" name="printLeftMargin" value="{{printLeftMargin}}" style=" text-align: right;width: 500px;height: 40px" >
                    </td>

                </tr>
                <tr>
                    <td class="firstCol">
                        条码类型：
                    </td>
                    <td class="contentCol">
                        <select id="barcodeType" name="barcodeType" style="width: 500px;height: 40px">
                            <option value="UPCA">UPCA</option>
                            <option value="UPCE">UPCE</option>
                            <option value="JAN13">JAN13</option>
                            <option value="JAN8">JAN8</option>
                            <option value="CODE39">CODE39</option>
                            <option value="ITF">ITF</option>
                            <option value="CODABAR">CODABAR</option>
                            <option value="EAN13">EAN13</option>
                            <option value="EAN8">EAN8</option>
                            <option value="PDF417">PDF417</option>
                            <option value="CODE93">CODE93</option>
                            <option value="CODE128">CODE128</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="firstCol">
                        条码文字内容位置：
                    </td>
                    <td class="contentCol">
                        <select id="barcodeTextLocation" name="barcodeTextLocation" style="width: 500px;height: 40px">
                            <option value="O_TEXT">不打印对应的文字</option>
                            <option value="UP_SIDE">文字位于条码上方</option>
                            <option value="DOWN_SIDE">文字位于条码下方</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="firstCol">
                        条码对应文字的大小：
                    </td>
                    <td class="contentCol">
                        <select id="barcodeFontSize" name="barcodeFontSize" style="width: 500px;height: 40px">
                            <option value="SMALL_FONT">小字体</option>
                            <option value="NORMAL_FONT">正常字体</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2" style="padding:10px;">
                        <input type="button" class="btnClass"  value="《返回" (click) = "previousRoute()">
                        <input type="button" id="printBtn" class="btnClass" (click)="startPrint()" value="打印">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>