.exitButton {
  position: absolute;
  top: 950px;
  left: 60px;
  width: 122px;
  height: 52px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #A8A8A8;
  border-radius: 5px;
}