<div class="mainPanel">
    <img class="buttonLan" src="../../assets/images/button_lan_tc .png"/>
        <sc2-timer class="timer"></sc2-timer>
    <img class="mainBG" src="../../assets/images/bg_1160x640.png"/>
    <label class="mainLabel"> Please select the service category. </label>
    <input type="image" class="imgButton1" (click)="nextRoute('/gen005')"src="../../assets/images/button_5.png"/>
    <input type="image" class="imgButton2" (click)="nextRoute('/gen005')" src="../../assets/images/button_2.png"/>
    <input type="image" class="imgButton3" (click)="nextRoute('/gen005')" src="../../assets/images/button_4.png"/>
    <input type="image" class="imgButton4" (click)="nextRoute('/gen005')" src="../../assets/images/button_1.png"/>
    <input type="image" class="imgButton5" (click)="nextRoute('/gen005')" src="../../assets/images/button_3.png"/>
    <input type="image" class="imgButton6" (click)="nextRoute('/gen005')" src="../../assets/images/button_6.png"/>
    <input type="image" class="backButton" (click)="nextRoute('/gen005')" src="../../assets/images/button_back.png"/>
    <label class="footerFirst">SCN-GEN-002-1</label>
</div>