.buttonLan {
    position: absolute;
    right: 59px;
    top: 25px;
}

.mainBG {
    position: absolute;
    top: 190px;
    left: 60px;
}

.mainLabel {
    position: absolute;
    top: 243.5px;
    color: #333333;
    font-weight: bold;
    font-size: 44px;
    left: 302px;
}

.imgButton1 {
    position: absolute;
    top: 341.5px;
    left: 132px;
}

.imgButton2 {
    position: absolute;
    top: 341.5px;
    left: 489px;
}

.imgButton3 {
    position: absolute;
    top: 341.5px;
    left: 847px;
}

.imgButton4 {
    position: absolute;
    top: 587.5px;
    left: 132px;
}

.imgButton5 {
    position: absolute;
    top: 587.5px;
    left: 489px;
}

.imgButton6 {
    position: absolute;
    top: 587.5px;
    left: 847px;
}

.backButton {
    position: absolute;
    top: 885px;
    left: 60px;
}

.timer {
    position:absolute;
    right: 128.5px;
    padding: 0;
    margin: 0;
}