<div class="mainPanel">
    <img class="buttonLan" src="../../assets/images/button_lan_tc .png"/>
        <sc2-timer class="timer"></sc2-timer>
    <!-- <img class="mainBG" src="../../assets/images/bg_1160x640.png"/> -->
    <div class="mainBG"></div>
    <label class="mainLabel"> Please select the service category. </label>
    <input type="image" class="firstLeft firstTop" (click)="nextRoute('/gen005')"src="../../assets/images/button_5.png"/>
    <input type="image" class="secondLeft firstTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_2.png"/>
    <input type="image" class="thirdLeft firstTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_4.png"/>
    <input type="image" class="firstLeft secondTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_1.png"/>
    <input type="image" class="secondLeft secondTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_3.png"/>
    <input type="image" class="thirdLeft secondTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_6.png"/>
    <input type="image" class="firstLeft thirdTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_6.png"/>
    <input type="image" class="secondLeft thirdTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_6.png"/>
    <input type="image" class="thirdLeft thirdTop" (click)="nextRoute('/gen005')" src="../../assets/images/button_6.png"/>
    <input type="image" class="backButton" (click)="nextRoute('/gen005')" src="../../assets/images/button_back.png"/>
    <label class="footerFirst">SCN-GEN-002-1</label>
    
</div>