.buttonLan {
  position: absolute;
  right: 59px;
  top: 25px;
}

.mainBG {
  position: absolute;
  top: 110px;
  left: 60px;
  background-color: #DEFAED;
  width: 1160px;
  height: 815px;
  box-shadow: 1px 1px #ACC2B8;
}
.mainLabel {
  color: #2CA2A0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.contentDiv {
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
}
.firstCol {
  width:350px;
  height: 80px;
  margin: 5px;
  text-align: right;
  vertical-align: middle
}
.contentCol {
  height: 80px;
  text-align: left;
  margin: 5px;
  vertical-align: middle
}
.buttonDiv1 {
  position: absolute;
  left: 142px;
  top: 256px;
  width: 100%;
  font-size: 26px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.textareaClass {
  border:1px solid;
  border-color: #DEFAED;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
}

select ,input,textarea {
  border:1px solid;
  border-color: #DEFAED;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
}


.btnClass {
  width: 150px;
  height: 50px;
  background-color: #BBDEFB;
  border:1px solid;
  border-color: #DEFAED;
  border-radius:8px;
  -moz-border-radius:8px; /* Old Firefox */
}
.btnClassDisabled {
  width: 150px;
  height: 50px;
  background-color: #A8A8A8;
  border:1px solid;
  border-color: #DEFAED;
  border-radius:8px;
  -moz-border-radius:8px; /* Old Firefox */
}




.timer {
  position:absolute;
  right: 128.5px;
  padding: 0;
  margin: 0;
}
