<div class="mainPanel">
    <img class="buttonLan" src="../../../../assets/images/button_lan_tc .png"/>
    <!-- <img class="mainBG" src="../../../assets/images/bg_1160x640.png"/> -->
    <sc2-timer class="timer"></sc2-timer>
    <div class="mainBG">
        <div class="contentDiv">
            <table width="100%" style="margin: 0px;padding: 0px">
                <tr>
                    <td colspan="2" style="height: 100px;vertical-align: middle">
                        <label class="mainLabel"> Slipprint Vspace / 垂直方向走纸. </label>
                    </td>
                </tr>
                <tr>
                    <td class="firstCol" height="400px" style="vertical-align: middle">垂直方向走纸的像素点数：</td>
                    <td class="contentCol">
                        <input id="printContent" type="number" style="text-align: right; width: 500px;" name="printContent" value="{{printContent}}">像素
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:10px;">
                        <input type="button" class="btnClass"  value="《返回" (click) = "previousRoute()">
                        <input type="button" id="printBtn"  class="btnClass" (click)="startPrint()" value="打印">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>